/* this is my stylesheet!*/
body {
	color:deepskyblue;
	background:yellow;
}

.pizza {
	color:purple;
}

.title {
	color:pink;
}

.right {float:right;}

.marginleft {
	margin-left:30px;
}

.mtborder{
	border:3px solid mediumturquoise;
}


#didyouknow {
	color:red;
}

#main1 {
	background:white;
}